@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    
    background-color: #FFFDFD;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 10%;
}
#head{
    background-color:#FBE204;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#m1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}
#left{
    display: flex;
    flex-direction: column;
    width: 12%;
}
#r153{
    display: flex;
    background: rgba(255, 122, 0, 0.5);
    border-radius: 15px;
    justify-content: center;
    align-items: center;

}
#t2048{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 6px;
    
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    
}
#r115{
    width: 100%;
    height: 50%;
    
    background: rgba(255, 127, 0, 0.7);
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor : pointer;
    
}
#t4x4{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

}
#r116{
    width: 100%;
    height: 50%;
    
    background: #FFC373;
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#t5x5{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

}
#rez{
    width: 13% ;
}
#score{
    
    width: 100%;
    height: 11%;
    

    background: rgba(255, 122, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    
}
.tscore{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    
    
}


/* #delta{
    
    width: 103px;
    height: 43px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
} */
#best{
    
    width: 100%;
    height: 11%;
    

    background: rgba(255, 122, 0, 0.7);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tbest{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
}
#right{
    width: 16.875%;
    height: 100%;
}
#classic{
    
    width: 100%;
    height: 33.3%;
    padding-top: 5%;
    cursor: pointer;
    background: rgba(255, 127, 0, 0.7);
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#imgclassic{
    width: 60%;
    height: 60%;
    
    border-radius: 31px;
    
}
#tclassic{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    
    text-align: center;
}   
#doge{
    
    width: 100%;
    height: 33.3%;
    padding-top: 5%;
    cursor: pointer;
    background: #FFC373;
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#imgdoge{
    width: 60%;
    height: 60%;
    
    border-radius: 31px;
    
}
#tdoge{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    
    text-align: center;
    
}
#memes{
    padding-top: 5%;
    width: 100%;
    height: 33.4%;
    
    cursor: pointer;
    background: #FFC373;
    border: 2px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#imgmemes{
    width: 60%;
    height: 60%;
    
    border-radius: 31px;
}
#tmemes{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    
    text-align: center;
    
}
#center{
    width: 46%;
    
}
#main{
    
    width: 100%;
    
    

    background: rgba(191, 130, 48, 0.4);
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    
    
    
    
}
.bl{
    width: 23%;
    height: 23%;
    background: rgba(255, 146, 0, 0.25);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    
    margin-left: 1.7%;
    margin-top: 1.7%;

}
#bl13{
    margin-bottom: 1.7%;
}
#bl14{
    margin-bottom: 1.7%;
}
#bl15{
    margin-bottom: 1.7%;
}
#bl16{
    margin-bottom: 1.7%;
}
.bl4x4{
    width: 100%;
    height: 100%;
    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: Roboto;

}
.bl5x5{
    width:162px;
    height: 162px;
    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: Roboto;
    
}
#gameover{
    
    
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
#go{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 112px;
    text-align: center;
}
#tryagain{
    width: 363px;
    height: 93px;
    background-color: #E4E4E4;
    opacity: 0.8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#textta{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    text-align: center;

}