@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0px;
    background: #797979;
    color: #FFFFFF;
    font-family: Roboto;
}
#all{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 194, 255, 0.7);
    height: 10vh;
    width: 100vw;
}

#t2048{
    font-style: normal;
    font-weight: 900;
    font-size: 10vmin;
    

}
#m1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
}
#left{
    display: flex;
    flex-direction: column;
    width: 21.85vh;

}
.leftbuttons{
    border: 0.185vh solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45vh;

    font-style: normal;
    font-weight: normal;
    font-size: 10vmin;
    border-radius: 4.17vh;
    text-align: center;
    background: rgba(0, 194, 255, 0.7);
    
}
#r115{
    border: 0.648vh solid #FF0000;
}

#rez{

    font-style: normal;
    font-weight: normal;
    font-size: 5vmin;


}
.rezults{
    background: rgba(0, 194, 255, 0.7);
    border-radius: 1.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23vh;
    height: 11vh;
}
.trez{
    font-size: 3.33vh;
}
#score{
    margin-top: 0.18vh;
    margin-bottom: 1.667vh;
}
#delta{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.222vh;
    margin-top: 1.2vh;
}
#tsdelta{
    display: flex;
    flex-direction: row;
    padding-left: 6.5vh;
}
#center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 81vh;
    height: 81vh;
    background: rgba(0, 194, 255, 0.4);
    border-radius: 1.4vh;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.4vh;
}
.bl{
    width: 18.5vh;
    height: 18.5vh;
    background: #FFBC58;
    border: 0.093vh solid #000000;
    box-sizing: border-box;
    border-radius: 1.4vh;
    
    margin-left: 1.4vh;
    margin-top: 1.4vh;

}
#right{
    width: 30vh;
    display: flex;
    flex-direction: column;
    margin-left: 22vh;

}
.rightbuttons{
    border: 0.185vh solid #000000;
    box-sizing: border-box;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 194, 255, 0.7);
    border-radius: 4.17vh;
    cursor: pointer;
}
#classic{
    border: 0.648vh solid #FF0000;
}


.imges{
    width: 18.5vh;
    height: 18.5vh;
    border-radius: 2.88vh;
}
.textsrb{

    font-size: 5vh;
}
#gameover{
    position: absolute;
    left: 0px;
    top:0px;

    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;

}
#go{
    
    font-style: normal;
    font-weight: normal;
    font-size: 8.889vh;
    
    text-align: center;
}
#tryagain{
    width: 33.61vh;
    height: 8.61vh;
    background-color: #E4E4E4;
    opacity: 0.8;
    border-radius: 1.389vh;
    display: flex;
    justify-content: center;
    font-size: 5.926vh;
    cursor: pointer;
}
.bl4x4{
    width: 100%;
    height: 100%;
    
    border-radius: 1.389vh;
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.bl5x5{
    width:100%;
    height: 100%;
    
    border-radius: 1.389vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

    
}
